header,
footer {
    background-color: gray;
    color: #fff;
    text-align: center;
}

.img-fix {
    min-width: 35px;
}

.textfix {
    font-weight: normal;
}

.btn-1 {
    text-align: center;
    justify-content: center;
    height: 100px;
    width: 200px;
}

img.choices {
    height: 200px;
    width: 250px;
    border: 5px solid black;
    border-radius: 5px;
}

.score {
    border: 5px solid black;
    border-radius: 5px;
    width: 250px;
    height: 100px;
    background-color: #D3D3D3;
}

.textfix2 {
    height: 100px;
}

.vl {
    border-left: 5px solid black;
    height: 95px;
    position: relative;
    top: 0;
}