header,
footer {
    background-color: gray;
    color: #fff;
    text-align: center;
}

.img-fix {
    min-width: 35px;
}

.textfix {
    font-weight: normal;
}

.btn-1 {
    text-align: center;
    justify-content: center;
    height: 100px;
    width: 200px;
}